[submodule "themes/cards"]
	path = themes/cards
	url = https://github.com/ChrAlpha/hexo-theme-cards.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:effendiian/hexo-theme-cactus.git
